.App {
  text-align: center;
}

body {
  background-image: url(../src/data/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  opacity: 0.8;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

